{% extends 'base.html' %}
{% block title%} About Us page {% endblock %}

{% block content%}
    <head>
    
        <!-- <title>About Us page</title> -->
        <link rel="stylesheet" href="/static/css/aboutus.css" />
       
    </head>

    <body>
        <section id="about-section">
            <!-- about left  -->
            <div class="about-left">
                <img src="/static/img/sanjana1.png.jpg" alt="About Img"/>
            </div>

            <!-- about right  -->
            <div class="about-right">
                <h1>Sanchvi Studio</h1>
                <h2>About Us</h2>
                <br><br>
                <h4>
                    <p>Sanchvi was founded in 2019 by Sanjana Jain in Bangalore, India. The brand began as a niche rental service for exclusive maternity wear, driven by Sanjana's passion for experimental silhouettes that blend style with comfort.
                    <br><br>
                    Sanchvi aimed to offer expecting mothers options that were elegant and unique, breaking away from traditional norms.
                    <br><br>
                    The brand's reach extended beyond maternity wear to include pre-wedding rentals, catering to a broader audience.
                    <br><br>
                    In 2022, Sanchvi introduced a line of children’s wear, expanding its commitment to high-quality, stylish clothing for every stage of life.
                    <br><br>
                    The expansion into kids' wear was met with enthusiasm, further solidifying Sanchvi's reputation as a versatile and beloved fashion brand.
                    <br><br>
                    Customer support from around the globe has been crucial in Sanchvi’s success.
                    <br><br>
                    The brand’s dedication to unique, high-quality designs and its adaptability to changing clientele needs have made it a cherished name in the fashion rental industry.
                    <br><br>
                    Sanchvi has grown from a small idea to a global phenomenon, reflecting the passion and creativity that continue to drive the brand forward.
                    </p>
                </h4>
                
                
              
        </section>
        {% endblock %}