{% extends 'base.html' %}
{% block title%} About Us page {% endblock %}

{% block content%}
    <head>
    
        <!-- <title>About Us page</title> -->
        <link rel="stylesheet" href="/static/css/aboutus.css" />
       
    </head>

    <body>
        <section id="about-section">
            <!-- about left  -->
            <div class="about-left">
                <img src="/static/img/sanjana1.png.jpg" alt="About Img"/>
            </div>

            <!-- about right  -->
            <div class="about-right">
                <h1>Sanchvi Studio</h1>
                <h2>About Us</h2>
            <h4>  <p>Sanchvi was founded in 2019 by Sanjana Jain in Bangalore, India, with a vision to transform the maternity wear landscape. What began as a niche rental service for exclusive maternity wear was driven by Sanjana's passion for crafting experimental silhouettes that blend style with comfort. Her innovative approach to maternity fashion aimed to offer expecting mothers options that were both elegant and unique, breaking away from traditional norms.

                    As the brand gained traction, Sanchvi’s reach extended beyond maternity wear. Recognizing the evolving needs of their clientele, the company gradually expanded its offerings to include pre-wedding rentals. This shift allowed Sanchvi to cater to a broader audience, providing elegant and memorable attire for one of life’s most significant events.
                    
                    In 2022, the brand continued its journey of diversification by introducing a line of children’s wear. This new venture was a natural extension of Sanchvi’s commitment to high-quality, stylish clothing for every stage of life. The expansion into kids' wear was met with enthusiasm and further solidified Sanchvi's reputation as a versatile and beloved fashion brand.
                    
                    Over the years, the love and support Sanchvi has received from customers across the globe have played a crucial role in its success. The brand’s dedication to unique, high-quality designs and its ability to adapt to the changing needs of its clientele have made it a cherished name in the fashion rental industry. What started as a small idea has blossomed into a global phenomenon, reflecting the passion and creativity that continue to drive Sanchvi forward.
                    
                </p></h4>
              
        </section>
        {% endblock %}