{% extends 'adminbase.html' %}
{% block title %}Product List{% endblock %}
{% block content %}

<link rel="stylesheet" href="/static/admin/css/productdetails.css">

<div class="main-container d-flex flex-wrap align-items-start">
    <!-- Image Section -->
    <div class="image-section me-4" style="flex: 1; max-width: 20%;">
        
        <img id="mainImage" src="{{ product.img.url }}" alt="Main product image for {{ product.name }}" class="img-fluid rounded">
        <div class="thumbnail-container d-flex justify-content-start flex-wrap mt-2">
            
            
            {% for image in product.images.all %}
                <img src="{{ image.image.url }}" alt="Thumbnail for {{ product.name }}" class="thumbnail img-thumbnail me-1 mb-1" style="width: 60px; height: 60px; object-fit: cover;">
            {% endfor %}
        </div>
    </div>

    <!-- Details Section -->
        <div class="details-section" style="flex: 2; max-width: 70%;">  
            

                <a href="{% url 'deleteproduct' product.id %}" class="delete-link">Delete</a>
           
            
            <script>
                // Add an event listener to all delete links
                document.addEventListener("DOMContentLoaded", function () {
                    const deleteLinks = document.querySelectorAll(".delete-link");
            
                    deleteLinks.forEach(link => {
                        link.addEventListener("click", function (event) {
                            event.preventDefault(); // Prevent the default link behavior
            
                            // Show confirmation dialog
                            const confirmation = confirm("Are you sure you want to delete this?");
                            if (confirmation) {
                                // Redirect to the delete URL if confirmed
                                window.location.href = this.href;
                            }
                        });
                    });
                });
            </script>
             <div class="form-group mb-3">
                
                <select name="category" id="categorySelect" data-product-id="{{ product.id }}">
                    {% for cat in allcat %}
                        <option value="{{ cat.id }}" {% if cat == product.category %}selected{% endif %}>{{ cat.name }}</option>
                    {% endfor %}
                </select>
                
              
            
            </div>
        <div class="form-group mb-3">
            <label for="product_name" class="form-label"><strong>Product Name:</strong></label>
            <input id="product_name" type="text" name="product_name" class="form-control" value="{{ product.name }}"  oninput="updateField('name', this.value, {{ product.id }})" placeholder="Enter product name">
        </div>
        <div class="form-group mb-3">
            <label for="product_description" class="form-label"><strong>Description:</strong></label>
            <textarea id="product_description" name="product_description" rows="3" class="form-control"  oninput="updateField('description', this.value, {{ product.id }})" placeholder="Enter product description">{{ product.description }}</textarea>
        </div>
    </div>
</div>
<script>
    // Auto-update function for name and description
    async function updateField(field, value, productId) {
        if (!value) {
            alert(`${field} cannot be empty.`);
            return;
        }

        const response = await fetch('/admin/product/details/update/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ field, value, product_id: productId }),
        });

        if (response.ok) {
            console.log(`${field} updated successfully.`);
        } else {
            alert(`Failed to update ${field}.`);
        }
    }

    // CSRF Token Helper
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>


<div class="card-body mt-4">
    <ul class="nav nav-tabs nav-line nav-color-secondary" id="line-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="line-home-tab" data-bs-toggle="pill" href="#line-home" role="tab" aria-controls="line-home" aria-selected="true">Color Palette</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="line-contact-tab" data-bs-toggle="pill" href="#line-contact" role="tab" aria-controls="line-contact" aria-selected="false">Price</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="line-contact-tab" data-bs-toggle="pill" href="#line-status" role="tab" aria-controls="line-status" aria-selected="false">Status</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="line-contact-tab" data-bs-toggle="pill" href="#line-sql" role="tab" aria-controls="line-sql" aria-selected="false">SQL Quarry</a>
        </li>
    </ul>

    <div class="tab-content mt-3 mb-3" id="line-tabContent">
        <!-- Color Palette Tab -->
        <div class="tab-pane fade show active" id="line-home" role="tabpanel" aria-labelledby="line-home-tab">
            <div class="card-body mt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Color Palette</h3>
                    <button onclick="showAddColorPopup()" class="btn btn-primary">Add Color Palette</button>
                </div>
            
                <!-- Popup Input Form -->
                <div id="addColorPopup" class="popup-overlay" style="display: none;">
                    <div class="popup-content">
                        <input id="newColor" type="text" class="form-control mb-3" placeholder="Enter new color">
                        <button onclick="addColorPalette({{ product.id }})" class="btn btn-success">Add Color</button>
                    </div>
                </div>
                <style>
                    .popup-overlay {
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.5);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        z-index: 1000;
                    }
                
                    .popup-content {
                        background: #fff;
                        padding: 20px;
                        border-radius: 8px;
                        width: 300px;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                    }
                
                    .popup-content input {
                        width: 100%;
                    }
                </style>
                
                <table id="colorTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sl. No</th>
                            <th>Color</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in color %}
                        <tr id="row-{{ x.id }}">
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <input type="text" id="color-{{ x.id }}" value="{{ x.color }}" class="form-control">
                            </td>
                            <td>
                                <button onclick="editColorPalette({{ x.id }})" class="btn btn-primary">Edit</button>
                                <button onclick="deleteColorPalette({{ x.id }})" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
            <script>

                
  // Show Popup
  function showAddColorPopup() {
        const popup = document.getElementById('addColorPopup');
        popup.style.display = 'flex'; // Show popup
    }

    // Close Popup when Clicking Outside
    window.addEventListener('click', function (e) {
        const popup = document.getElementById('addColorPopup');
        const content = document.querySelector('.popup-content');
        if (popup.style.display === 'flex' && e.target === popup) {
            popup.style.display = 'none'; // Hide popup
        }
    });
                // Add Color
                async function addColorPalette(productId) {
                    const color = document.getElementById('newColor').value;
                    if (!color) {
                        alert("Please enter a color.");
                        return;
                    }
            
                    const response = await fetch('/admin/product/color/manage/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                        body: JSON.stringify({ product_id: productId, color: color }),
                    });
            
                    if (response.ok) {
                        const data = await response.json();
                        const colorTable = document.querySelector('#colorTable tbody');
                        const newRow = `<tr id="row-${data.id}">
                            <td>${data.id}</td>
                            <td>
                                <input type="text" id="color-${data.id}" value="${data.color}" class="form-control">
                            </td>
                            <td>
                                <button onclick="editColorPalette(${data.id})" class="btn btn-primary">Edit</button>
                                <button onclick="deleteColorPalette(${data.id})" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>`;
                        colorTable.innerHTML += newRow;
                        document.getElementById('newColor').value = '';
                    } else {
                        alert('Failed to add color.');
                    }
                }
            
                // Edit Color
                async function editColorPalette(colorId) {
                    const newColor = document.getElementById(`color-${colorId}`).value;
            
                    const response = await fetch('/admin/product/color/manage/', {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                        body: JSON.stringify({ id: colorId, color: newColor }),
                    });
            
                    if (response.ok) {
                        alert('Color updated successfully.');
                    } else {
                        alert('Failed to update color.');
                    }
                }
            
                // Delete Color
                async function deleteColorPalette(colorId) {
                    const response = await fetch('/admin/product/color/manage/', {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                        body: JSON.stringify({ id: colorId }),
                    });
            
                    if (response.ok) {
                        document.querySelector(`#row-${colorId}`).remove();
                    } else {
                        alert('Failed to delete color.');
                    }
                }
            
                // CSRF Token Helper
                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                        const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === name + '=') {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
            </script>
            
        </div>

        <!-- Price Tab -->
        <div class="tab-pane fade" id="line-contact" role="tabpanel" aria-labelledby="line-contact-tab">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Price Management</h3>
                <button onclick="showAddPricePopup()" class="btn btn-primary">Add Price</button>
            </div>
        
            <!-- Popup Input Form -->
            <div id="addPricePopup" class="popup-overlay" style="display: none;">
                <div class="popup-content">
                    <!-- <input id="newSize" type="text" class="form-control mb-2" placeholder="Enter size"> -->
                    <select id="newSize" class="form-select mb-2">
                        <!-- <option value="0-6 months">Small</option> -->
                        <option value="Regular">Regular</option>
                        <option value="Small">Small</option>
                        <option value="Medium">Medium</option>
                        <option value="Large">Large</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="0-6 months">0-6 months</option>
                        <option value="6-12 months">6-12 months</option>
                        <option value="1-2 years">1-2 years</option>
                        <option value="2-3 years">2-3 years</option>
                        <option value="3-4 years">3-4 years</option>
                        <option value="4-5 years">4-5 years</option>
                        <option value="5-6 years">5-6 years</option>
                        <option value="6-7 years">6-7 years</option>
                        <option value="7-8 years">7-8 years</option>
                        <option value="8-9 years">8-9 years</option>
                        <option value="9-10 years">9-10 years</option>
                        <option value="10-11 years">10-11 years</option>
                        <option value="11-12 years">11-12 years</option>
                        <option value="12-13 years">12-13 years</option>
                        <option value="13-14 years">13-14 years</option>
                        <option value="14-15 years">14-15 years</option>
                        <option value="15+ years">15+ years</option>
                    </select>
                    <input id="newPrice" type="number" class="form-control mb-2" placeholder="Enter price">
                    <select id="newBoxSize" class="form-select mb-2">
                        <option value="regular">Regular</option>
                        <option value="small">Small</option>
                        <option value="medium">Medium</option>
                        <option value="large">Large</option>
                        <option value="extra_large">XL</option>
                        <option value="XXL">XXL</option>
                    </select>
                    <button onclick="addPrice({{ product.id }})" class="btn btn-success">Add Price</button>
                </div>
            </div>
            <table id="pricesTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Sl. No</th>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Box Size</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in prices reversed %}
                    <tr id="row-price-{{ x.id }}">
                        <td>{{ forloop.revcounter }}</td>
                        <td>
                            <select id="size-{{ x.id }}" class="form-select">
                                <option value="Regular" {% if x.size == 'Regular' %}selected{% endif %}>Regular</option>
                                <option value="Small" {% if x.size == 'Small' %}selected{% endif %}>Small</option>
                                <option value="Medium" {% if x.size == 'Medium' %}selected{% endif %}>Medium</option>
                                <option value="Large" {% if x.size == 'Large' %}selected{% endif %}>Large</option>
                                <option value="XL" {% if x.size == 'XL' %}selected{% endif %}>XL</option>
                                <option value="XXL" {% if x.size == 'XXL' %}selected{% endif %}>XXL</option>
                                <option value="0-6 months" {% if x.size == '0-6 months' %}selected{% endif %}>0-6 months</option>
                                <option value="6-12 months" {% if x.size == '6-12 months' %}selected{% endif %}>6-12 months</option>
                                <option value="1-2 years" {% if x.size == '1-2 years' %}selected{% endif %}>1-2 years</option>
                                <option value="2-3 years" {% if x.size == '2-3 years' %}selected{% endif %}>2-3 years</option>
                                <option value="3-4 years" {% if x.size == '3-4 years' %}selected{% endif %}>3-4 years</option>
                                <option value="4-5 years" {% if x.size == '4-5 years' %}selected{% endif %}>4-5 years</option>
                                <option value="5-6 years" {% if x.size == '5-6 years' %}selected{% endif %}>5-6 years</option>
                                <option value="6-7 years" {% if x.size == '6-7 years' %}selected{% endif %}>6-7 years</option>
                                <option value="7-8 years" {% if x.size == '7-8 years' %}selected{% endif %}>7-8 years</option>
                                <option value="8-9 years" {% if x.size == '8-9 years' %}selected{% endif %}>8-9 years</option>
                                <option value="9-10 years" {% if x.size == '9-10 years' %}selected{% endif %}>9-10 years</option>
                                <option value="10-11 years" {% if x.size == '10-11 years' %}selected{% endif %}>10-11 years</option>
                                <option value="11-12 years" {% if x.size == '11-12 years' %}selected{% endif %}>11-12 years</option>
                                <option value="12-13 years" {% if x.size == '12-13 years' %}selected{% endif %}>12-13 years</option>
                                <option value="13-14 years" {% if x.size == '13-14 years' %}selected{% endif %}>13-14 years</option>
                                <option value="14-15 years" {% if x.size == '14-15 years' %}selected{% endif %}>14-15 years</option>
                                <option value="15+ years" {% if x.size == '15+ years' %}selected{% endif %}>15+ years</option>
                            </select>
                        </td>
                        
                        <td>
                            <input type="number" id="price-{{ x.id }}" value="{{ x.price }}" class="form-control">
                        </td>
                        <td>
                            <select id="boxSize-{{ x.id }}" class="form-select">
                                <option value="regular" {% if x.shipping_box == 'regular' %}selected{% endif %}>Regular</option>
                                <option value="small" {% if x.shipping_box == 'small' %}selected{% endif %}>Small</option>
                                <option value="medium" {% if x.shipping_box == 'medium' %}selected{% endif %}>Medium</option>
                                <option value="large" {% if x.shipping_box == 'large' %}selected{% endif %}>Large</option>
                                <option value="extra_large" {% if x.shipping_box == 'extra_large' %}selected{% endif %}>XL</option>
                                <option value="XXL" {% if x.shipping_box == 'XXL' %}selected{% endif %}>XXL</option>
                            </select>
                        </td>
                        <td>
                            <button onclick="editPrice({{ x.id }})" class="btn btn-primary">Edit</button>
                            <button onclick="deletePrice({{ x.id }})" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
        
<!-- Status Tab  -->
        <div class="tab-pane fade " id="line-status" role="tabpanel" aria-labelledby="line-status-tab">
            <div class="card-body mt-4">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3>Status</h3>
                    
                </div>
                <style>/* Toggle Switch Container */
                    .toggle-switch {
                      position: relative;
                      display: inline-block;
                      width: 50px;
                      height: 25px;
                    }
                    
                    /* Hidden Checkbox */
                    .toggle-switch input {
                      opacity: 0;
                      width: 0;
                      height: 0;
                    }
                    
                    /* Switch Label */
                    .switch {
                      position: absolute;
                      cursor: pointer;
                      background-color: #ccc;
                      border-radius: 25px;
                      width: 100%;
                      height: 100%;
                      transition: background-color 0.3s ease-in-out;
                    }
                    
                    .switch::after {
                      content: "";
                      position: absolute;
                      background-color: white;
                      border-radius: 50%;
                      height: 20px;
                      width: 20px;
                      top: 2.5px;
                      left: 2.5px;
                      transition: transform 0.3s ease-in-out;
                    }
                    
                    /* Toggle On */
                    input:checked + .switch {
                      background-color: #4caf50;
                    }
                    
                    input:checked + .switch::after {
                      transform: translateX(25px);
                    }
                    </style>        
              
              <form method="post">
                {% csrf_token %}
                <div class="toggle-switch">
                  <input
                    type="checkbox"
                    id="toggle-{{ product.id }}"
                    class="toggle"
                    data-product-id="{{ product.id }}"
                    {% if product.is_active %}checked{% endif %}
                  />
                  <label for="toggle-{{ product.id }}" class="switch"></label>
                </div>
              </form>
              
<script>

document.querySelectorAll('.toggle').forEach((toggle) => {
  toggle.addEventListener('change', function () {
    const productId = this.dataset.productId; // Get product ID from the toggle
    const isActive = this.checked; // Determine the new state (True/False)

    console.log(`Toggling product ID ${productId} to ${isActive ? 'active' : 'inactive'}`);

    fetch('/admin/toggle-product-active/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value, // CSRF token
      },
      body: JSON.stringify({
        product_id: productId,
        is_active: isActive,
      }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then((data) => {
        if (data.success) {
          console.log(`Product updated successfully: ${data.message}`);
        } else {
          console.error(`Failed to update product: ${data.message}`);
          alert('Failed to update product status.');
        }
      })
      .catch((error) => {
        console.error('Error:', error);
        alert('An error occurred while updating the product status.');
      });
  });
});

</script>

<script>
    // Add an event listener to the select element for detecting changes
    document.getElementById('categorySelect').addEventListener('change', async function() {
        const selectedCategoryId = this.value;
        const productId = this.getAttribute('data-product-id');
    
        // Make an AJAX call to update the product's category
        try {
            const response = await fetch('/admin/product/update-category/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify({ product_id: productId, category_id: selectedCategoryId })
            });
    
            if (response.ok) {
                console.log('Product category updated successfully.');
            } else {
                alert('Failed to update product category.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred while updating the product category.');
        }
    });
    
    // CSRF Token Helper
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>
    
            
        </div>


    </div>


    <!-- SQL Tab  -->
    <div class="tab-pane fade" id="line-sql" role="tabpanel" aria-labelledby="line-sql-tab">
        <div class="card-body mt-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>SQL Quarry</h3>
                
            </div>
     
            <form id="sqlForm" method="POST">
                {% csrf_token %}
                <textarea name="sql_query" rows="5" cols="50" placeholder="Enter your SQL command here"></textarea>
                <button type="submit">Execute</button>
            </form>
            
            <div id="output">
                <h3>Output:</h3>
                <pre id="outputContent">No query executed yet.</pre>
            </div>
            


        <script>
            document.getElementById("sqlForm").addEventListener("submit", function (event) {
    event.preventDefault();

    const sqlQuery = document.querySelector("textarea[name='sql_query']").value;

    fetch("/admin/execute-sql/", {
        method: "POST",
        headers: {
            "Content-Type": "application/x-www-form-urlencoded",
            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
        },
        body: new URLSearchParams({ sql_query: sqlQuery })
    })
        .then(response => response.json())
        .then(data => {
            const outputContent = document.getElementById("outputContent");

            if (data.success) {
                if (data.results) {
                    // Format SELECT query results as a table
                    const columns = data.columns;
                    const rows = data.results;

                    let table = "<table border='1'><tr>";
                    columns.forEach(col => {
                        table += `<th>${col}</th>`;
                    });
                    table += "</tr>";

                    rows.forEach(row => {
                        table += "<tr>";
                        row.forEach(cell => {
                            table += `<td>${cell}</td>`;
                        });
                        table += "</tr>";
                    });
                    table += "</table>";

                    outputContent.innerHTML = table;
                } else {
                    // Display message for non-SELECT queries
                    outputContent.textContent = data.message;
                }
            } else {
                // Display error message
                outputContent.textContent = data.error || data.message;
            }
        })
        .catch(error => {
            document.getElementById("outputContent").textContent = `Error: ${error.message}`;
        });
});

        </script>
    </div>


</div>




    
</div>
<script>
     // Show Popup
     function showAddPricePopup() {
        const popup = document.getElementById('addPricePopup');
        popup.style.display = 'flex'; // Show popup
    }

    // Close Popup when Clicking Outside
    window.addEventListener('click', function (e) {
        const popup = document.getElementById('addPricePopup');
        const content = document.querySelector('.popup-content');
        if (popup.style.display === 'flex' && e.target === popup) {
            popup.style.display = 'none'; // Hide popup
        }
    });

    // Add Price
    async function addPrice(productId) {
    const size = document.getElementById('newSize').value;
    const price = document.getElementById('newPrice').value;
    const boxSize = document.getElementById('newBoxSize').value;

    if (!size || !price || !boxSize) {
        alert('All fields are required.');
        return;
    }

    const response = await fetch('/admin/product/price/manage/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken'),
        },
        body: JSON.stringify({ product_id: productId, size, price, box_size: boxSize }),
    });

    if (response.ok) {
        const data = await response.json();
        const pricesTable = document.querySelector('#pricesTable tbody');
        
        const newRow = `
            <tr id="row-price-${data.id}">
                <td>${data.id}</td>
                <td>
                    <select id="size-${data.id}" class="form-select">
                        <option value="Regular" ${size === 'Regular' ? 'selected' : ''}>Regular</option>
                        <option value="Small" ${size === 'Small' ? 'selected' : ''}>Small</option>
                        <option value="Medium" ${size === 'Medium' ? 'selected' : ''}>Medium</option>
                        <option value="Large" ${size === 'Large' ? 'selected' : ''}>Large</option>
                        <option value="XL" ${size === 'XL' ? 'selected' : ''}>XL</option>
                        <option value="XXL" ${size === 'XXL' ? 'selected' : ''}>XXL</option>
                        <option value="0-6 months" ${size === '0-6 months' ? 'selected' : ''}>0-6 months</option>
                        <option value="6-12 months" ${size === '6-12 months' ? 'selected' : ''}>6-12 months</option>
                        <option value="1-2 years" ${size === '1-2 years' ? 'selected' : ''}>1-2 years</option>
                        <option value="2-3 years" ${size === '2-3 years' ? 'selected' : ''}>2-3 years</option>
                        <option value="3-4 years" ${size === '3-4 years' ? 'selected' : ''}>3-4 years</option>
                        <option value="4-5 years" ${size === '4-5 years' ? 'selected' : ''}>4-5 years</option>
                        <option value="5-6 years" ${size === '5-6 years' ? 'selected' : ''}>5-6 years</option>
                        <option value="6-7 years" ${size === '6-7 years' ? 'selected' : ''}>6-7 years</option>
                        <option value="7-8 years" ${size === '7-8 years' ? 'selected' : ''}>7-8 years</option>
                        <option value="8-9 years" ${size === '8-9 years' ? 'selected' : ''}>8-9 years</option>
                        <option value="9-10 years" ${size === '9-10 years' ? 'selected' : ''}>9-10 years</option>
                        <option value="10-11 years" ${size === '10-11 years' ? 'selected' : ''}>10-11 years</option>
                        <option value="11-12 years" ${size === '11-12 years' ? 'selected' : ''}>11-12 years</option>
                        <option value="12-13 years" ${size === '12-13 years' ? 'selected' : ''}>12-13 years</option>
                        <option value="13-14 years" ${size === '13-14 years' ? 'selected' : ''}>13-14 years</option>
                        <option value="14-15 years" ${size === '14-15 years' ? 'selected' : ''}>14-15 years</option>
                        <option value="15+ years" ${size === '15+ years' ? 'selected' : ''}>15+ years</option>
                    </select>
                </td>
                <td>
                    <input type="number" id="price-${data.id}" value="${data.price}" class="form-control">
                </td>
                <td>
                    <select id="boxSize-${data.id}" class="form-select">
                        <option value="regular" ${data.box_size === 'regular' ? 'selected' : ''}>Regular</option>
                        <option value="small" ${data.box_size === 'small' ? 'selected' : ''}>Small</option>
                        <option value="medium" ${data.box_size === 'medium' ? 'selected' : ''}>Medium</option>
                        <option value="large" ${data.box_size === 'large' ? 'selected' : ''}>Large</option>
                        <option value="extra_large" ${data.box_size === 'extra_large' ? 'selected' : ''}>XL</option>
                        <option value="XXL" ${data.box_size === 'XXL' ? 'selected' : ''}>XXL</option>
                    </select>
                </td>
                <td>
                    <button onclick="editPrice(${data.id})" class="btn btn-primary">Edit</button>
                    <button onclick="deletePrice(${data.id})" class="btn btn-danger">Delete</button>
                </td>
            </tr>`;

        // Prepend the new row to the top of the table
        pricesTable.insertAdjacentHTML('afterbegin', newRow);

        // Clear the input fields
        document.getElementById('newSize').value = 'Small';
        document.getElementById('newPrice').value = '';
        document.getElementById('newBoxSize').value = 'small';
    } else {
        alert('Failed to add price.');
    }
}


    // Edit Price
    async function editPrice(priceId) {
        const size = document.getElementById(`size-${priceId}`).value;
        const price = document.getElementById(`price-${priceId}`).value;
        const boxSize = document.getElementById(`boxSize-${priceId}`).value;

        const response = await fetch('/admin/product/price/manage/', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ id: priceId, size, price, box_size: boxSize }),
        });

        if (response.ok) {
            alert('Price updated successfully.');
        } else {
            alert('Failed to update price.');
        }
    }

    // Delete Price
    async function deletePrice(priceId) {
        const response = await fetch('/admin/product/price/manage/', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({ id: priceId }),
        });

        if (response.ok) {
            document.querySelector(`#row-price-${priceId}`).remove();
        } else {
            alert('Failed to delete price.');
        }
    }
</script>

{% endblock %}
