<html>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/static/css/allstyles.css">
    </head>
    
    <body style="background-color:  #ecb3e7;">
        <style></style>
       
     <div class="container">
 
         <div class="slide">
 
             <div class="item">
                 <video src="/static/videos/video14.mp4" autoplay loop muted></video>
                 <div class="content">
                     <div class="name"></div>
                     <div class="des"></div>
                <a href="{% url 'productdetail' 1000%}"> <button >Shop Now</button></a>
                 </div>
             </div>
             <div class="item">
                 <video src="/static/videos/video17.mp4" autoplay loop muted></video>
                 <div class="content">
                     <div class="name"></div>
                     <div class="des"></div>
                     <a href="{% url 'productdetail' 1001%}"> <button >Shop Now</button></a>
                 </div>
             </div>
             <div class="item">
                 <video src="/static/videos/video14.mp4" autoplay loop muted></video>
                 <div class="content">
                     <div class="name"></div>
                     <div class="des"></div>
                     <a href="{% url 'productdetail' 1002%}"> <button >Shop Now</button></a>
                 </div>
             </div>
             <div class="item">
                 <video src="/static/videos/video15.mp4" autoplay loop muted></video>
                 <div class="content">
                     <div class="name"></div>
                     <div class="des"></div>
                     <a href="{% url 'productdetail' 1003%}"> <button >Shop Now</button></a>
                 </div>
             </div>
             <div class="item">
                 <video src="/static/videos/video4.mp4" autoplay loop muted></video>
                 <div class="content">
                     <div class="name"></div>
                     <div class="des"></div>
                     <a href="{% url 'productdetail' 1004%}"> <button >Shop Now</button></a>
                 </div>
             </div>
             <div class="item">
                 <video src="/static/videos/video16.mp4" autoplay loop muted></video>
                 <div class="content">
                     <div class="name"></div>
                     <div class="des"></div>
                     <a href="{% url 'productdetail' 1005%}"> <button >Shop Now</button></a>
                 </div>
             </div>
 
         </div>
 
         <div class="button">
             <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
             <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
         </div>
 
     </div>
        </div>
        <script src="/static/js/scripts.js" async defer></script>
    </body>
</html>