<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body >
    <h1>This is Index Page</h1>
    <label for="login">Login:</label>
    <a href="{% url 'user_login'%}">Login page</a>
    <br>
    <label for="signup">Signup:</label>
    <a href="{% url 'user_signup'%}">Signup page</a>
    
    <a href="{% url 'product_landing'%}">Landing page</a>

  
{% for x in products     %}
{{x.name}}
{%empty%}

<h4>No products</h4>






<input type="text" name="" id="">
{%endfor%}




</body>
</html>