{% extends 'base.html' %}
{% block title%} Product Sanchvi {% endblock %}

{% block content%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<section class="py-20 overflow-hidden">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb mb-8">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a class="text-decoration-none fw-bold text-uppercase text-secondary" href="#">Home</a></li>
              <li class="breadcrumb-item"><a class="text-decoration-none fw-bold text-uppercase text-secondary" href="#">WATER FILTERS</a></li>
              <li class="breadcrumb-item active" aria-current="page">BRILE WATER FILTER CARAFE</li>
            </ol>
          </nav>
        </div>
        <div class="col-12 col-md-6 mb-8 mb-md-0">
          <div class="row">
            <div class="md-col-12 col-lg-3 mb-2 mb-lg-0">
              <div class="d-flex flex-lg-column h-100 justify-content-between">
                <a class="d-block mb-4 me-2 me-lg-0 border border-info" href="#" style="width: 128px; height: 128px;">
                  <img class="w-100 h-100 img-fluid p-1 p-lg-0" style="object-fit: cover;" src="yofte-assets/images/product-bottle.png" alt="">
                </a>
                <a class="d-block mb-4 me-2 me-lg-0" href="#" style="width: 128px; height: 128px;">
                  <img class="w-100 h-100 img-fluid p-1 p-lg-0" style="object-fit: cover;" src="yofte-assets/images/product-bottle2.png" alt="">
                </a>
                <a class="d-block mb-4 me-2 me-lg-0" href="#" style="width: 128px; height: 128px;">
                  <img class="w-100 h-100 img-fluid p-1 p-lg-0" style="object-fit: cover;" src="yofte-assets/images/product-bottle3.png" alt="">
                </a>
                <a class="d-block" href="#" style="width: 128px; height: 128px;">
                  <img class="w-100 h-100 img-fluid p-1 p-lg-0" style="object-fit: cover;" src="yofte-assets/images/product-bottle4.png" alt="">
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-9">
              <div class="position-relative" style="height: 564px;">
                <a class="position-absolute top-50 start-0 ms-8 translate-middle-y" href="#">
                  <svg width="10" height="18" viewbox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 16.0185C9.268 16.2905 9.268 16.7275 9 16.9975C8.732 17.2675 8.299 17.2685 8.031 16.9975L0.201 9.0895C-0.067 8.8195 -0.067 8.3825 0.201 8.1105L8.031 0.2025C8.299 -0.0675 8.732 -0.0675 9 0.2025C9.268 0.4735 9.268 0.9115 9 1.1815L1.859 8.6005L9 16.0185Z" fill="#1F40FF"></path>
                  </svg>
                </a>
                <img class="w-100 h-100 img-fluid" style="object-fit: cover;" src="yofte-assets/images/product-bottle.png" alt="">
                <a class="position-absolute top-50 end-0 me-8 translate-middle-y" href="#">
                  <svg width="10" height="18" viewbox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.19922 1.1817C-0.0687795 0.909696 -0.0687794 0.472695 0.19922 0.202695C0.46722 -0.0673054 0.90022 -0.0683048 1.16822 0.202695L8.99822 8.11069C9.26622 8.3807 9.26622 8.81769 8.99822 9.08969L1.16822 16.9977C0.900219 17.2677 0.467218 17.2677 0.199219 16.9977C-0.0687809 16.7267 -0.0687808 16.2887 0.199219 16.0187L7.34022 8.5997L0.19922 1.1817Z" fill="#1F40FF"></path>
                  </svg>
                </a>
              </div>
            </div>
            <div class="col-12 col-lg-9 mt-12 ms-auto">
              <div class="d-flex align-items-center">
                <p class="me-8 text-secondary fw-bold text-uppercase">SHARE IT</p>
                <a class="d-block me-1" href="#" style="width: 32px; height: 32px;">
                  <img class="img-fluid" src="yofte-assets/buttons/facebook-circle.svg" alt="">
                </a>
                <a class="d-block" href="#" style="width: 32px; height: 32px;">
                  <img class="img-fluid" src="yofte-assets/buttons/instagram-circle.svg" alt="">
                </a>
                <a class="d-block" href="#" style="width: 32px; height: 32px;">
                  <img class="img-fluid" src="yofte-assets/buttons/twitter-circle.svg" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div>
            <div class="mb-10 pb-10 border-bottom">
              <span class="text-secondary">Brille</span>
              <h1 class="mt-2 mb-6 mw-xl">BRILE water filter carafe</h1>
              <div class="mb-8">
                <button class="btn p-0">
                  <img class="img-fluid" src="yofte-assets/elements/star-gold.svg" alt="">
                </button>
                <button class="btn p-0">
                  <img class="img-fluid" src="yofte-assets/elements/star-gold.svg" alt="">
                </button>
                <button class="btn p-0">
                  <img class="img-fluid" src="yofte-assets/elements/star-gold.svg" alt="">
                </button>
                <button class="btn p-0">
                  <img class="img-fluid" src="yofte-assets/elements/star-gold.svg" alt="">
                </button>
                <button class="btn p-0">
                  <img class="img-fluid" src="yofte-assets/elements/star-gray.svg" alt="">
                </button>
              </div>
              <p class="d-inline-block h5 mb-8 text-info">
                <span>$29.99</span>
                <span class="fw-normal text-secondary text-decoration-line-through" style="font-size: 16px;">$33.69</span>
              </p>
              <p class="mw-md text-secondary">Maecenas commodo libero ut molestie dictum. Morbi placerat eros id porttitor sagittis.</p>
            </div>
            <div class="d-flex mb-12">
              <div class="me-6">
                <span class="d-block mb-4 fw-bold text-secondary tetx-uppercase">QTY</span>
                <div class="d-inline-flex align-items-center px-4 fw-bold text-secondary border rounded-2">
                  <button class="btn px-0 py-2">
                    <svg width="12" height="2" viewbox="0 0 12 2" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="12" width="2" height="12" transform="rotate(90 12 0)" fill="currentColor"></rect></g></svg>
                  </button>
                  <input class="form-control m-0 px-2 py-4 text-center text-md-end border-0" style="width: 48px;" type="number" placeholder="1">
                  <button class="btn px-0 py-2">
                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><g opacity="0.35"><rect x="5" width="2" height="12" fill="currentColor"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="currentColor"></rect></g></svg>
                  </button>
                </div>
              </div>
              <div>
                <span class="d-block mb-4 fw-bold text-secondary text-uppercase">Size</span>
                <select class="form-select border ps-6 pe-10 py-4 fw-bold text-secondary" name="" id="">
                  <option value="1">Medium</option>
                  <option value="2">Small</option>
                  <option value="3">Large</option>
                </select>
              </div>
            </div>
            <div class="row mb-14 align-items-center">
              <div class="col-12 col-lg-6 mb-4 mb-lg-0"><a class="btn me-lg-6 btn-primary w-100 text-uppercase" href="#">Add to cart</a></div>
              <div class="col-12 col-lg-6">
                <a class="btn bg-white border d-flex w-100 d-flex-wrap align-items-center justify-content-center rounded-md border hover:border-gray-500" href="#">
                  <svg class="mt-n1 me-2" width="27" height="27" viewbox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.4993 26.2061L4.70067 16.9253C3.9281 16.1443 3.41815 15.1374 3.24307 14.0471C3.06798 12.9568 3.23664 11.8385 3.72514 10.8505V10.8505C4.09415 10.1046 4.63318 9.45803 5.29779 8.96406C5.96241 8.47008 6.73359 8.14284 7.54782 8.00931C8.36204 7.87578 9.19599 7.93978 9.98095 8.19603C10.7659 8.45228 11.4794 8.89345 12.0627 9.48319L13.4993 10.9358L14.9359 9.48319C15.5192 8.89345 16.2327 8.45228 17.0177 8.19603C17.8026 7.93978 18.6366 7.87578 19.4508 8.00931C20.265 8.14284 21.0362 8.47008 21.7008 8.96406C22.3654 9.45803 22.9045 10.1046 23.2735 10.8505V10.8505C23.762 11.8385 23.9306 12.9568 23.7556 14.0471C23.5805 15.1374 23.0705 16.1443 22.298 16.9253L13.4993 26.2061Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span class="fw-bold text-uppercase">Add to wishlist</span>
                </a>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between py-6 border-bottom">
              <h4 class="lead fw-bold">Description</h4>
              <a class="d-inline-flex align-items-center justify-content-center border rounded-2" style="width: 48px; height: 48px;" href="#">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
              </a>
            </div>
            <div class="d-flex align-items-center justify-content-between py-6 border-bottom">
              <h4 class="lead fw-bold">Customer reviews</h4>
              <a class="d-inline-flex align-items-center justify-content-center border rounded-2" style="width: 48px; height: 48px;" href="#">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
              </a>
            </div>
            <div class="d-flex align-items-center justify-content-between py-6 border-bottom">
              <h4 class="lead fw-bold">Shipping & returns</h4>
              <a class="d-inline-flex align-items-center justify-content-center border rounded-2" style="width: 48px; height: 48px;" href="#">
                <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="5" width="2" height="12" fill="#161616"></rect><rect x="12" y="5" width="2" height="12" transform="rotate(90 12 5)" fill="#161616"></rect></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}