<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                {% if messages %}
                <div class="message-container">
                    {% for x in messages %}
                        <p class="message {{ x.tags }}">{{ x }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            
            <style>
                /* Message container styling */
                .message-container {
                    max-width: 400px;
                    margin: 20px auto;
                    /* padding: 10px; */
                    border-radius: 8px;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                }
            
                /* Base styling for each message */
                .message {
                    padding: 15px;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    color: #333;
                    font-family: Arial, sans-serif;
                    font-size: 14px;
                    text-align: center;
                }
            
                /* Success message styling */
                .message.success {
                    background-color: #d4edda;
                    color: #155724;
                    border: 1px solid #c3e6cb;
                }
            
                /* Error message styling */
                .message.error {
                    background-color: #f8d7da;
                    color: #721c24;
                    border: 1px solid #f5c6cb;
                }
            
                /* Warning message styling */
                .message.warning {
                    background-color: #fff3cd;
                    color: #856404;
                    border: 1px solid #ffeeba;
                }
            
                /* Info message styling */
                .message.info {
                    background-color: #d1ecf1;
                    color: #0c5460;
                    border: 1px solid #bee5eb;
                }
            </style>
            
                <div class="text-center"> 
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  
                  <h2 class="text-center">Password Reset</h2>
                  
                  <p>You can reset your password here.</p>
                  
                  <div class="panel-body">
    
                    <form id="register-form" action="" class="form" method="post">
                      {%csrf_token%}
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock  color-blue"></i> <i class="glyphicon glyphicon-user  color-blue"></i></span>
                          <input id="field" name="pass1" placeholder="Enter New Password" class="form-control"  type="text">
                        </div>
                        
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock  color-blue"></i> <i class="glyphicon glyphicon-user  color-blue"></i></span>
                          <input id="field" name="pass2" placeholder="Re-Enter Password" class="form-control"  type="text">
                        </div>
                        
                      </div>
                      
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                      </div>
                      
                      <input type="hidden" class="hide" name="token" id="token" value=""> 
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div><style>.form-gap {
        padding-top: 140px;
    }</style>
</div>